* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    width: 4.9rem;
    margin: 1% 50%;
}

.sign {
    display: flex;
    text-align: center;
    font-size: medium;
    font-size: 1.4rem;
    font-weight: 100;
}

#card-grey {
    width: 19.25rem;
    height: 14rem;
    padding: 0.7rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(246, 249, 249);
    border-radius: 2%;
    border: solid 1px rgb(219, 218, 218);
    position: relative;
}

label {
    font-weight: 200;
    font-size: 0.9rem;
    color: black;
}

.textfield {
    display: flex;
    flex-direction: column;
    margin: 3%;
}

.textfield label {
    margin: 0 0 2% 0;
}

.textfield input{
    border-radius: 5px;
    padding: 0.7%;
    border: 2px solid transparent;
    outline: none;
}

input:focus{
    border-color: blue;
}

.textfield a {
    position: absolute;
    margin: 0.2% 0 0 54%;
    font-size: 0.8rem;
    text-decoration: none;
}

.textfield button {
    height: 2rem;
    font-size: 14px;
    line-height: 20px;
    padding: 5px 16px;
    border: 1px solid;
    border-radius: 6px;
    font-weight: 500;
    cursor: pointer;
}

.card2 {
    margin-top: 0.8%;
    width: 19.25rem;
    display: flex;
    flex-direction: column;
    background-color: rgb(253, 255, 255);
    border-radius: 2%;
    align-items: center;
    padding-top: 1%;
    font-size: 0.9rem;  
    border: solid 1px rgb(219, 218, 218);
}

.card2 a p {
    text-decoration: none;
    justify-content: center;
    display: flex;
    text-align: center;
}

.footer {
    margin-top: 3%;
    width: auto;
}

.footer a{
    font-size: 12px;
    text-decoration: none;
    margin: auto;
    padding: 5px;
}

.black {
    color: rgba(51, 51, 51, 0.831);
}

@media screen and (max-width: 40rem){
    #card-grey {
        max-width: 13rem;
    }

    .textfield a {
        position: absolute;
        margin: 2% 0 0 45%;
        font-size: 0.6rem;
        text-decoration: none;
    }

    .card2 {
        max-width: 13rem;
        font-size: 0.8rem;
        margin-top:1%;
        padding-top: 3%;
    }

    .footer {
        display: flex;
        flex-direction: column;
        max-width: 13rem;
    }

    .footer a{
        font-size: 11px;
        text-decoration: none;
        margin: 0;
        padding: 0px;
        display: flex;
        justify-content: center;
    }
}